# node modules
node_modules/
node_module
# environment variables
.env

# build output
dist/
build/

# logs
*.log

# package-lock.json
package-lock.json

# OS/system files
.DS_Store
Thumbs.db
.next

.package-lock.json
